.square{
  border: 1px solid red;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.main-section{
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-image: url('https://cache.desktopnexus.com/thumbseg/554/554834-bigthumbnail.jpg')
}

.dn-history-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.dn-history-areas{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 50vh;
  overflow: scroll;
  border: 1px solid blue;
}

.dn-state-btn{
  text-align: center;
  margin: 5px;
  height: 30px;
}

.dn-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}